In [1]:
import pandas as pd
import sys
import re

In [2]:
sys.path.append(r'D:\local_repo\CTA_UI')

In [3]:
from utils import const

C:\Users\Han.Hao\AppData\Local\anaconda3\lib\site-packages\paramiko\transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

In [4]:
df = pd.read_excel("audit.xlsx", names=["contract", "volume", "ticknum"])

In [5]:
df['breed'] = df.apply(lambda x: re.findall(r'[a-zA-Z]+', x['contract'])[0], axis=1)

In [6]:
df['total_volume'] = df['volume'] * df['ticknum']
df['money'] = df.apply(lambda x: x['total_volume'] * const.multiple_dict[x['breed']] * const.boundary_dict[x['breed']], axis=1)

In [7]:
audit_dict = {}
for temp in df.groupby('breed'):
    audit_dict[temp[0]] = temp[1]['money'].sum()

In [8]:
audit_dict

{'A': -720.0,
 'AG': 360.0,
 'AU': 3330.0,
 'B': -5592.0,
 'C': 380.0,
 'CF': 975.0,
 'CS': -100.0,
 'EG': -5540.0,
 'FU': 4565.0,
 'HC': -160.0,
 'IF': 210.0,
 'IH': 8100.0,
 'LU': -320.0,
 'MA': 190.0,
 'OI': 40.09999999999991,
 'PF': 90.0,
 'PP': -35.0,
 'RB': -5520.0,
 'RR': 520.0,
 'RU': 0.0,
 'SA': 3980.0,
 'SC': 20300.0,
 'SN': 1080.0,
 'SP': 1610.0,
 'UR': 3960.0,
 'V': -3785.0,
 'Y': 4210.0}

In [9]:
audit_dict = dict(sorted(audit_dict.items(), key=lambda x: x[1]))
print(audit_dict)

{'B': -5592.0, 'EG': -5540.0, 'RB': -5520.0, 'V': -3785.0, 'A': -720.0, 'LU': -320.0, 'HC': -160.0, 'CS': -100.0, 'PP': -35.0, 'RU': 0.0, 'OI': 40.09999999999991, 'PF': 90.0, 'MA': 190.0, 'IF': 210.0, 'AG': 360.0, 'C': 380.0, 'RR': 520.0, 'CF': 975.0, 'SN': 1080.0, 'SP': 1610.0, 'AU': 3330.0, 'UR': 3960.0, 'SA': 3980.0, 'Y': 4210.0, 'FU': 4565.0, 'IH': 8100.0, 'SC': 20300.0}

In [17]:
# 将字典的键和值分别转换为列表
breeds = list(audit_dict.keys())
money = list(audit_dict.values())

# 创建DataFrame
df = pd.DataFrame({'breed': breeds, 'money': money})

In [18]:
df

   breed    money
0      B  -5592.0
1     EG  -5540.0
2     RB  -5520.0
3      V  -3785.0
4      A   -720.0
5     LU   -320.0
6     HC   -160.0
7     CS   -100.0
8     PP    -35.0
9     RU      0.0
10    OI     40.1
11    PF     90.0
12    MA    190.0
13    IF    210.0
14    AG    360.0
15     C    380.0
16    RR    520.0
17    CF    975.0
18    SN   1080.0
19    SP   1610.0
20    AU   3330.0
21    UR   3960.0
22    SA   3980.0
23     Y   4210.0
24    FU   4565.0
25    IH   8100.0
26    SC  20300.0

In [19]:
df['money'].sum()

32128.1